footer
    .py-20.bg-gradient-to-r.from-gray-500.to-gray-800
        .container.flex.justify-between.items-center
            .flex.col.footer-content
                .footer-about.max-w-xs.mr-16
                    h1.mb-4.text-white.font-bold.text-base Hakkımızda
                    p.text-white.text-sm.font-light= layoutData.about.shortSummaryText
                .footer-contact.max-w-xs
                    h1.mb-4.text-white.font-bold.text-base İletişim
                    ul.max-w-xs
                        li
                            a.flex.items-center.pb-3(href='https://goo.gl/maps/hPoaqAjXsvhMHEd56')
                                div
                                    svg.icon.icon-location.fill-white.mr-5(width='10px' height='10px')
                                        use(xlink:href='#icon-location')
                                        symbol#icon-location(viewbox='0 0 32 32')
                                            path(d='M16 0c-5.523 0-10 4.477-10 10 0 10 10 22 10 22s10-12 10-22c0-5.523-4.477-10-10-10zM16 16c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z')
                                .text-white.text-sm= layoutData.settings.adress

                        li
                            div
                                a.flex.items-center.pb-3(href=`tel:${layoutData.settings.phone}`)
                                    div
                                        svg.icon.icon-phone.fill-white.mr-5(width='10px' height='10px')
                                            use(xlink:href='#icon-phone')
                                            symbol#icon-phone(viewbox='0 0 32 32')
                                                path(d='M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z')
                                    .text-white.text-sm= layoutData.settings.phone
                        li.flex.items-center.pb-3
                            div
                                a(href=`mailto:${layoutData.settings.email}`)
                                    svg.icon.icon-envelop.fill-white.mr-5(width='10px' height='10px')
                                        use(xlink:href='#icon-envelop')
                                        symbol#icon-envelop(viewbox='0 0 32 32')
                                            path(d='M29 4h-26c-1.65 0-3 1.35-3 3v20c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-20c0-1.65-1.35-3-3-3zM12.461 17.199l-8.461 6.59v-15.676l8.461 9.086zM5.512 8h20.976l-10.488 7.875-10.488-7.875zM12.79 17.553l3.21 3.447 3.21-3.447 6.58 8.447h-19.579l6.58-8.447zM19.539 17.199l8.461-9.086v15.676l-8.461-6.59z')
                            .text-white.text-sm= layoutData.settings.email
            .footer-logo
                div
                    img.h-28(src=`/cms/assets/${layoutData.settings.project_logo}?format=webp` alt='logo')

    .copy
        a.text-gray-700.text-xs(href="https://orjinfinity.com/")
            | &copy; 2023-Orjinfinty-Tüm Hakları Saklıdır