extends layout/main-layout

block styles
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css')
    link(rel="stylesheet" href="/styles/detailswiper.css")

block scripts 
    script(src='https://kit.fontawesome.com/97147632a1.js' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
    script(src="/scripts/send-message.js")
    script.
        var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
        });
        var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
        thumbs: {
        swiper: swiper,
        },
        });

block content

    main
        .container
            section.my-10 
                .notice-area
                    .notice-area_left
                        .notice-area_tag
                            span= carDetail.durum
                            h2.notice-area_title= title
                    .notice-area_right
                        .notice-price
                            h4= `${carDetail.Fiyat} TL`
                .content
                    .left 
                        .galery            
                            .swiper.mySwiper2(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
                                .swiper-wrapper
                                    each image in carDetail.images
                                        .swiper-slide
                                            img(src=`/cms/assets/${image.directus_files_id}?format=webp` alt='image')
                                .swiper-button-next
                                .swiper-button-prev

                            .swiper.mySwiper(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
                                .swiper-wrapper
                                    each image in carDetail.images
                                        .swiper-slide
                                            img(src=`/cms/assets/${image.directus_files_id}?format=webp` alt='image')
                                .swiper-button-next
                                .swiper-button-prev
                        .overview
                            h4 Özellikler
                            .overview-content
                                ul 
                                    li.cnter
                                        i.fa-solid.fa-car 
                                        span= carDetail.Paket
                                    li.cnter 
                                        i.fa-solid.fa-gas-pump 
                                        span= carDetail.fuel
                                    li.cnter 
                                        i.fa-solid.fa-road
                                        span=`${carDetail.Km} Km`
                                    li.cnter 
                                        i.fa-solid.fa-gears
                                        span= carDetail.Vites
                                    li.cnter 
                                        i.fa-solid.fa-calendar-week 
                                        span= carDetail.year
                        .description
                            h4 Açıklama
                            p= carDetail.desc
                    .right 
                        .detail-contact
                            h3.form-title Bizimle Hemen İletişime Geçin
                            form.form-action(onsubmit="sendMessage(event); return false")
                                .form-box
                                    .input-box
                                        .input
                                            input(type='text' name='first_name' id='' required)
                                            label(for='') İsim
                                        .input
                                            input(type='text' name='last_name' id='' required)
                                            label(for='') Soyisim
                                    .input-box
                                        .input
                                            input(type='email' name='mail' id='' required)
                                            label(for='') Mail
                                        .input
                                            input(type='number' name='phone' id='' required)
                                            label(for='') Telefon
                                    .input-box
                                        .input(style='width: 100%; margin-top: 10px')
                                            textarea(name="message" cols="30" rows="2" required) 
                                            label(for='') Mesajınız
                                    button.btn(type="submit") Mesaj Gönder 